body {
  background-color: #999;
  font-family: "Open Sans","Avenir Next","Helvetica","Arial",sans-serif;
  font-size:14px;
  line-height: 2em;
  padding: 0;
}
td a {
  text-decoration: none;
  color: #fff;
}
a {
  text-decoration: none;
  color: #db0;
}
h1 {
  color:#fff;
  text-align: center;
}
h2 {
  font-variant-caps: small-caps;
}
.spacer-top {
  height:50px;
}
footer {
  padding:10px;
  color:#fff;
  text-align: center;
}
.h1header {
  text-align: left;
}
a:hover {
  color:#f7dc44;
  font-size: 101%;
}
#header {
  padding:50px;
  background-image: url("http://baconteam.com/Assets/Images/bacon.png");
  background-attachment: fixed;
  background-size: contain;
  letter-spacing: 2px;
  font-size: 150%;
  font-family: "Oswald","Open Sans",sans-serif;
  text-shadow: 0px 0px 18px #000;
}
#nav {
  background-color: #333;
  padding:20px;
  position:fixed;
}
.nav-item {color:#fff;} .nav-item:hover {color:#d0ae8a;} .nav-item:active {color:#d5a01a;}
