@import url("viewports.css");
@import url("https://fonts.googleapis.com/css?family=Lato:300,700,900");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

body {
  font-family: "Lato", sans-serif;
  margin: 0px;
  overflow-x: hidden;
  color:#eeeeee;
  background: #b6b6b6;
}
#body {
  background: #b54533;
  margin: auto;
  line-height: 1.5;
}
#head {
  margin: auto;
  background: #1d5a93;
  text-align: center;
}
#title {
  margin: 0;
  font-weight:900;
}
strong {
  font-weight: 700;
}
#foot {
  background: rgb(184, 101, 37);
  margin: auto;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color:#c2bfbf;
  font-weight: bold;
}
.egg-rainbow {
  animation: rainbow 2s infinite;
}

@keyframes rainbow {
  0% {color: red;}
  20% {color: orange;}
  40% {color: yellow;}
  60% {color: green;}
  85% {color: blue;}
  100% {color: purple;}
}
ul {list-style: none;}
li:before {content: "- ";}
