@media screen and (max-width:839px) and (min-width:501px) {
  body {
    margin:auto;
    width:85%;
  }
  .image-width {
    width:300px;
  }
}
@media screen and (min-width: 840px) {
  body {
    margin:auto;
    width: 830px;
  }
  .image-width {
    width:400px;
  }
}
@media screen and (min-width: 0px) and (max-width: 500px) {
  body {
    width:95%;
    margin:auto;
  }
  .image-width {
    width:200px;
  }
}
