@media screen and (min-width: 1000px) {
  #head, #body, #foot {
    width: 980px;
    padding: 40px;
  }
  #head h1 {
    font-size: 50px;
    padding: 40px;
  }
}
@media screen and (min-width: 600px) and (max-width: 999px) {
  #head, #body, #foot {
    width:95%;
    padding: 30px;
  }
  #head h1 {
    font-size: 40px;
    padding: 30px;
  }
}
@media screen and (max-width: 599px) {
  #head, #body, #foot {
    padding: 25px;
  }
  #head h1 {
    font-size: 30px;
    padding: 25px;
  }
}
